<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find robo)/maps/lab/lab_map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="bag_name" default="lab/2023-09-18-10-18-29"/>
  <arg name="rate" default="1"/>
  <arg name="play_rosbag" default="true"/>
  <arg name="amcl_initial_pose_x" default="0.0"/>
  <arg name="amcl_initial_pose_y" default="0.0"/>
  <arg name="amcl_initial_pose_a" default="0.0"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

    <!-- ROSBAG -->
  <group if="$(arg play_rosbag)">
    <param name="/use_sim_time" value="true"/>
    <node pkg="rosbag" type="play" name="rosbag_player" 
      args="--clock $(find robo)/bags/$(arg bag_name).bag"/>
  </group>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find robo)/launch/amcl/amcl.launch">
    <arg name="initial_pose_x" value="$(arg amcl_initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg amcl_initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg amcl_initial_pose_a)"/>
  </include>

  <!-- move_base -->
  <include file="$(find robo)/launch/amcl/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>  

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robo)/rviz/turtlebot3_navigation.rviz"/>
  </group>
</launch>
